@import url("http://fonts.googleapis.com/earlyaccess/jejugothic.css");

*{
	margin: 0;
	padding : 0;
	font-family: 'Roboto',sans-serif;
}

#fix_msg{
	margin-right: 10px;
	margin-bottom: 10px;
	width: 60px;
	height: 60px;
	position: fixed;
	bottom: 0;
	right: 0;
}

/*top*/
.top{
	width: 100%;
	height: 380px;
	padding: 0;
	margin: 0;
	background-color: #3F51B5;
}
.top #face{
	display: inline-block;
	margin-top: 30px;
	margin-left: calc(50% - 80px);
	width: 160px;
  	height: 160px;
	text-align: center;
  	border-radius: 50%;
}
.top p{
	padding-top: 20px;
	text-align: center;
	color: white;
	font-size: 20px;
	font-weight: normal;
}
.top p ~ .top_job{	
	display: inline-block;
	padding: 2px 0 5px 0;
	margin-top: 5px;
	margin-left: calc(50% - 80px);
	height: 15px;
	width: 150px;
	border-radius: 5px;
	background-color: #FAF46A;
	font-size: 13px;
	font-style: italic;
	color: black;
}

.top_nav{
	padding-top: 40px;
	padding-left: calc(50% - 370px);
	font-size: 40px;
}

.top_nav li{
	display: inline-block;
	margin-left: 10px;
	padding-left: 20px;
}

.top_nav li a{
	padding: 5px;
	text-decoration: none;
	color: white;
}

.top_nav li a:hover{
	background-color: rgba(33,52,154,0.8);
}
/*contents*/
.contents{
	padding-top: 40px;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}

.about_content{
	width: 620px;
	height: 300px;
	padding-top: 10px;
/*	border: 5px solid #eeeeee;*/
}

.about_content li{
	display: inline-block;
}

.about_content img{
	padding: 5px;
	bottom: 0px;
	width: 25px;
	height: 25px;
	border: 5px solid #dddddd;
	border-radius: 50%;
}
.about_title{
	width: 150px;
	margin-left: 10px;
	top: 0;
	font-size: 28px;
	color: #3f51b5;
}
.about_content li p{
    content: "";
    width: 380px;
    border-bottom: 4px solid #dddddd;
}

.about_text{
	margin-top: 20px;
	padding: 10px 50px 0 50px;
	text-align: center;
	font-size: 1.5em;
	font-weight: 400;
	line-height: 40px;
}

.about_text #blue{
	color: #3f51b5;
}

.twitter{
	padding-top: 10px;
/*	border: 5px solid #eeeeee;*/
	height: 300px;
}

.twitter li{
	display: inline-block;
}

.twitter li img{
	padding: 5px;
	bottom: 0px;
	width: 25px;
	height: 25px;
	border: 5px solid #dddddd;
	border-radius: 50%;
}

.twitter_title{
	width: 160px;
	margin-left: 10px;
	top: 0;
	font-size: 24px;
	color: #FF4081;
}

.twitter li p{
    content: "";
    width: 11px;
    border-bottom: 4px solid #dddddd;
}

.twitter_text{
	margin-top: 40px;
	width: 180px;
	height: 100px;
	padding: 30px;
	background-color: #C5CAE9;
	box-shadow: 0 2px 5px 0 ;
	font-size: 13px;
	text-align: center;
}

.twitter_text span{
	font-size: 13px;
	color: #857777;
}

.twitter_text img{
	position: absolute;
	width: 30px;
	height: 30px;
	top :510px;
	right: 250px;
}

#block_content div{
	width: 200px;
	height: 250px;
	padding: 30px;
	background-color: #3F51B5;
	font-weight: 400;
	text-align: center;
	color: #E7D3D5;
}

#block_content td:nth-child(2) div{
	margin-left: 40px;
	margin-right: 40px;
	box-shadow: 0 1px 3px 0;
}

#block_content td span{
	font-size: 20px;
	color: white;
}

#block_content #date{
	padding-top: 40px;
	font-size: 15px;
	color: #E7D3D5;
}

.button{
	margin-top: 20px;
	margin-left: calc(50% - 75px);
	width: 260px;
	height: 60px;
	background-color: #FF4081;
	font-size: 20px;
	color: white;
}

.button img{
	width: 30px;
	height: 30px;
	margin: 15px 10px 0 20px;
}

.work{
	width: 860px;
	padding-top: 80px;
}

.work li{
	display: inline-block;
}

.work li img{
	padding: 5px;
	bottom: 0px;
	width: 25px;
	height: 25px;
	border: 5px solid #dddddd;
	border-radius: 50%;
}
.work_title{
	width: 200px;
	margin-left: 10px;
	top: 0;
	font-size: 28px;
	color: #3f51b5;
}

.work li p{
    content: "";
    width: 593px;
    border-bottom: 4px solid #dddddd;
}

#work_content{
	margin-top: 30px;
}
#work_content div{
	width: 255px;
	height: 380px;
	font-size: 15px;
	text-align: center;
	border: 1px solid #dddddd;
	box-shadow: 0 1px 1px 0;
}

#work_content td:nth-child(2) div{
	margin-left: 40px;
	margin-right: 40px;
}

#work_content div img{
	width: 100%;
	height: 150px;
	top: 0;
	margin: 0;
}

.fun{
	width: 860px;
	padding-top: 80px;
}

.fun li{
	display: inline-block;
}

.fun li img{
	padding: 5px;
	bottom: 0px;
	width: 25px;
	height: 25px;
	border: 5px solid #dddddd;
	border-radius: 50%;
}
.fun_title{
	width: 140px;
	margin-left: 10px;
	top: 0;
	font-size: 28px;
	color: #3f51b5;
}

.fun li p{
    content: "";
    width: 653px;
    border-bottom: 4px solid #dddddd;
}

.fun table{
	width: 100%;
	height: auto;
	padding-top: 15px;
}

.fun table td{
	padding-bottom: 15px;
	width: calc(100% / 4);
	height: auto;
	background-color: #F50057;
	border: 10px solid #ffffff;
	box-shadow: 1px;
	text-align: center;
	color: white;
}

.fun table td img{
	width: 50px;
	height: 50px;
	margin : 20px 70px 20px 70px;
}

.fliker{
	width: 860px;
	padding-top: 80px;
}

.fliker li{
	display: inline-block;
}

.fliker li img{
	padding: 5px;
	bottom: 0px;
	width: 25px;
	height: 25px;
	border: 5px solid #dddddd;
	border-radius: 50%;
}
.fliker_title{
	width: 180px;
	margin-left: 20px;
	top: 0;
	font-size: 28px;
	color: #FF4081;
}

.fliker li p{
    content: "";
    width: 593px;
    border-bottom: 4px solid #dddddd;
}

.insta{
	width: 860px;
	padding-top: 80px;
	padding-bottom: 50px;
}

.insta li{
	display: inline-block;
}

.insta li img{
	padding: 5px;
	bottom: 0px;
	width: 25px;
	height: 25px;
	border: 5px solid #dddddd;
	border-radius: 50%;
}
.insta_title{
	width: 250px;
	margin-left: 20px;
	top: 0;
	font-size: 28px;
	color: #FF4081;
}

.insta li p{
    content: "";
    width: 523px;
    border-bottom: 4px solid #dddddd;
}

.photo{
	margin: 20px auto auto 50px;
}

.photo img{
	border: 5px solid white;
	width: 115px;
	height: auto;
}
/*footer*/
footer{
	width: 100%;
	height: 390px;
	background-color: #3F51B5;
}

.footer_text{
	padding-top: 50px;
	text-align: center;
	color: white;
}

.footer_text h3{
	letter-spacing: 0.25em;
	margin-left: 70px;
}

.footer_text p{
	margin-top: 20px;
	margin-left: calc(50% - 120px);
	width: 300px;
    line-height: 30px;
    font-weight: 300;
}

.footer_nav{
	padding-top: 40px;
	padding-left: calc(50% - 270px);
}

.footer_nav li{
	display: inline-block;
	padding-left: 40px;
}

.footer_nav img{
	padding: 0;
	margin: 0;
	width: 50px;
	height: 50px;
}

.bottom{
	display: inline-block;
	padding-top: 10px;
	margin-top: 40px;
	width: 100%;
	height: 30px;
	font-size: 14px;
	background-color: #303F9F;
	text-align: center;
	color: white;
}

.bottom a{
	text-decoration: none;
	color: red;
}